
body {
	  padding-top: 5rem;
	}
	
	body, html {
	  height: 100%;
	}
	
	.video-wrapper {
	  width: 100%;
	  background-color: lightgreen;
	}
	
	h1
	{
	  color: red;      
	}
	
	h2
	{
	  color: red;
	}
	
	col-sm-4
	{
	background-color: lightyellow;
	}      
	
	#github
	{
	  color: lightgreen;   
	}
	
	#linkedin
	{
	  color: lightgreen;
	}
	
	.tg
	{
	color: red;
	}
	
	section {
	  margin: 1rem;
	  padding: 2rem;
	  background-color: lightyellow;
	  border-radius: 2em;
	}
	
	.bgimg {
	  background-image: url("https://github.com/mohammadfarheen/aboutme/blob/master/pic.jpg?raw=true");
	  height: 100%;
	  position: relative;
	  opacity: 0.85;
	  background-position: center;
	  background-repeat: no-repeat;
	  background-size: cover;
	  background-attachment: fixed; /* fixed in viewport */
	}
	
	.test
	{
	       color: red;
	}
	
	.grid-container 
	{
	  display: flex;
	  flex-wrap: wrap;
	}
	
	

